<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    </head>

    <body>
        <div id="wrap">
            <div class="container">
            <h3 align = 'center' class = 'alert alert-warning'><strong>Oops!</strong> Something went wrong</h3>
            <p align = 'center' class = 'alert alert-warning'> Response status: {{response.status_code}}</p>
            <p align = 'center' class = 'alert alert-warning'> Error message: {{response.reason}}</p>
            </div>
        </div>
    </body>
</html>
