<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    </head>
<body>
    <div id="wrap">
        <div class="container">
        <h3>Ticket Id {{ticket['results'][0]['id']}}</h3>
            <table id = "ticket" cellpadding="0" cellspacing="0" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Subject</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Description</th>
                        {% if ticket['count'] == 3  %}
                        <th>Requester</th>
                        <th>Assignee</th>
                        {% else %}
                        <th>Requester Id</th>
                        <th>Assignee Id</th>
                        {% endif %}
                        <th>Updated at</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeA">
                        <td style="text-align:center;">{{ ticket['results'][0]['id'] }}</td>
                        <td>{{ ticket['results'][0]['subject'] }}</td>
                        <td style="text-align:center;">{{ ticket['results'][0]['priority'] }}</td>
                        <td style="text-align:center;">{{ ticket['results'][0]['status'] }}</td>
                        <td>{{ ticket['results'][0]['description'] }}</td>
                        {% if ticket['count'] == 3  %}
                            <td>{{ ticket['results'][1]['name']}}</td>
                            <td>{{ ticket['results'][2]['name']}}</td>
                        {% else %}
                            <td style="text-align:center;">{{ ticket['results'][0]['requester_id']}}</td>
                            <td style="text-align:center;">{{ ticket['results'][0]['assignee_id']}}</td>
                        {% endif %}
                        <td>{{ ticket['results'][0]['updated_at']}}</td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </body>
</html>